@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-red: hsl(4, 100%, 67%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);
  --font-size-nm: 16px;
  --font-weight-reg.feature-listar: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-weight-reg.feature-listar);
  font-size: var(--font-size-nm);

  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  background: var(--color-blue-700);
  color: var(--color-blue-800);

  min-height: 100dvh;
}

.newsletter-signup {
  display: flex;

  gap: 3rem;
  max-width: 60rem;
  max-height: 40rem;
  padding: 1.5rem;

  background: var(--color-white);
  border-radius: 2rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.form-info h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  word-spacing: 1px;
  margin-bottom: 1rem;
}

.form-info p {
  margin-bottom: 0.75rem;
}

.feature-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.4rem 0;
}

/* icon */
.feature-list li::before {
  content: "";
  width: 1.1rem;
  height: 1.1rem;
  background-image: url("/assets/images/icon-list.svg");
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.hidden {
  display: none;
}

/* --- Attribution Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
