@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  /* Font Family */
  --default-font-family: "Space Mono", monospace;

  /* Primary Color */
  --green-400: hsl(172, 67%, 45%);

  /* Neutral Colors */
  --green-900: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
}

@layer base {
  h1,
  h2,
  p {
    padding: 0;
    margin: 0;
  }
}

@layer utilities {
  /* Background Color Utilities */
  .bg-green-400 {
    background-color: var(--green-400);
  }

  .bg-green-900 {
    background-color: var(--green-900);
  }

  .bg-grey-500 {
    background-color: var(--grey-500);
  }

  .bg-grey-400 {
    background-color: var(--grey-400);
  }

  .bg-grey-200 {
    background-color: var(--grey-200);
  }

  .bg-grey-50 {
    background-color: var(--grey-50);
  }

  .bg-white {
    background-color: var(--white);
  }

  /* Text Color Utilities */
  .text-green-400 {
    color: var(--green-400);
  }

  .text-green-900 {
    color: var(--green-900);
  }

  .text-grey-500 {
    color: var(--grey-500);
  }

  .text-grey-400 {
    color: var(--grey-400);
  }

  .text-grey-200 {
    color: var(--grey-200);
  }

  .text-grey-50 {
    color: var(--grey-50);
  }

  .text-white {
    color: var(--white);
  }
}

.tip-custom-input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.75rem;
  border: 2px solid #0d4d4d;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.2s;
}

.tip-custom-input:focus {
  outline: none;
  border-color: #9dd9d9;
}

.tip-error {
  display: none;
  color: #e74c3c;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
