:root {
  --sub-black: #020202;
}

body {
  font-family: Georgia, "Times New Roman", Times, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  color: var(--sub-black);
}

.container {
  border: 1px solid var(--sub-black);
  border-radius: 1.5rem;
  box-sizing: content-box;
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 3rem auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.left-container {
  display: flex;
  flex-direction: column;
  padding: 4px;
  box-sizing: content-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 0.4rem;
}

input {
  font-size: 0.9rem;
  padding: 0.8rem;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s ease;
}

header {
  font-weight: bolder;
  text-shadow: 0 2px 4px #3d3b3b;
}
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ccc;
  outline: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  font-weight: 700;
  font-size: 1.5rem;
}
