/* Override Root Styles */
:root {
  --default-font-family: "Rubik", sans-serif;
}

/* ==== FOOTER ==== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
