@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* CSS Variables */
:root {
  /* Colors */
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-size: 13px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-weight: var(--font-weight-500);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
/* Mobile Screen < 600px */
body {
  font-family: var(--font-family);
  background: var(--color-grey-100);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 2rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.testimonial-card {
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 60px 20px 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 20rem;
}

.card-title h3 {
  font-weight: var(--font-weight-600);
  color: var(--color-grey-100);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-content h2 {
  color: var(--color-white);
  font-size: 1.75rem;
  font-weight: var(--font-weight-600);
}

.card-content p {
  line-height: 1.6;
  font-size: 1.125rem;
  font-weight: var(--font-weight-600);
  word-spacing: 1%;
}

.card-purple {
  background: var(--color-purple-500);
  color: var(--color-grey-200);

  .avatar-container {
    outline: 2px solid var(--color-purple-300);
  }

  .card-content h2 {
    color: var(--color-white);
  }
}

.card-gray-dark {
  background: var(--color-grey-500);
  color: var(--color-grey-200);

  .avatar-container {
    outline: 2px solid var(--color-grey-100);
  }

  .card-content h2 {
    color: var(--color-grey-100);
  }
}

.card-white {
  background: var(--color-white);
  color: var(--color-grey-400);

  h3 {
    color: var(--color-grey-400);
  }
  .card-content h2 {
    color: var(--color-grey-500);
  }
  .avatar-container {
    outline: 2px solid var(--color-grey-200);
  }
}

.card-navy {
  background: var(--color-dark-blue);
  color: var(--color-grey-200);

  .avatar-container {
    outline: 2px solid var(--color-purple-300);
  }
  .card-content h2 {
    color: var(--color-grey-200);
  }
}

.card-header {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.avatar-container {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Attribute Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Tablet Styling */
@media (min-width: 768px) {
  .home {
    padding: 4rem 3rem;
  }
  .testimonials {
    width: 90%;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .card-large {
    grid-column: span 2;
  }

  .testimonial-card:nth-child(5) {
    grid-column: 1 / -1;
  }
}

/* Desktop Styling */
@media (min-width: 1024px) {
  .testimonials {
    width: 85%;
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(280px, auto));
    grid-auto-rows: auto;
    align-items: start;
  }

  .testimonial-card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .testimonial-card:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .testimonial-card:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .testimonial-card:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .testimonial-card:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
}
