@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* CSS Variables */
:root {
  /* Colors */
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 80%);
  --color-purple-500: hsl(263, 55%, 52%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-black: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-size-body: 13px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mobile Screen < 600px */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: var(--color-grey-100);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1.5rem;
}

/* Attribute Section */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
