@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* font-family: "Overpass", sans-serif; */

/* Footer Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
