@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

@theme {
  --color-primary: hsl(25, 97%, 53%);
  --color-neutral-500: hsl(217, 12%, 63%);
  --color-neutral-900: hsl(213, 19%, 18%);
  --color-neutral-950: hsl(216, 12%, 8%);
  --color-black: hsl(0, 0%, 7%);
  --color-white: hsl(0, 0%, 97%);

  --font-family-overpass: "Overpass", sans-serif;
}

@layer base {
  h1,
  p {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: var(--font-family-overpass);
  }
}

@layer components {
  /* Global Typography Styles */
  p {
    @apply text-neutral-500 font-normal text-sm leading-normal md:text-base;
  }

  h1 {
    @apply text-white font-bold text-xl tracking-wider md:text-2xl;
  }

  /* Rating Button Styling */
  .radio-button {
    @apply rounded-full w-10 h-10 bg-gray-700 text-neutral-500 font-bold text-base transition-colors duration-200 cursor-pointer;
    @apply md:w-12 md:h-12;

    @apply hover:bg-primary hover:text-neutral-900;
  }

  .radio-button.active {
    @apply bg-white text-neutral-900;
  }

  /* Submit Button Styling */
  .submit-button {
    @apply bg-primary text-neutral-900 tracking-widest w-full rounded-full h-12 font-bold text-sm md:text-base uppercase transition-all duration-200 cursor-pointer;

    @apply hover:bg-white;

    @apply disabled:cursor-not-allowed disabled:hover:bg-primary;
  }

  /* Highlight Pill Styling (for Thank You state) */
  .highlight {
    @apply bg-gray-700 text-primary rounded-full px-4 py-1 text-sm font-normal mt-6 mb-8;
    @apply md:px-6 md:mt-8 md:mb-10;
  }
}

/* Footer Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
