@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --color-very-dark-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  --font-size-body: 13px;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--color-light-grayish-blue);
  color: var(--color-very-dark-blue);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
