@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

@theme {
  --color-primary-100: hsl(275, 100%, 97%);
  --color-primary-600: hsl(292, 16%, 49%);
  --color-primary-950: hsl(292, 42%, 14%);
  --font-family-work: "Work Sans", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: var(--font-family-work);
  }
}
/* Footer Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
