@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
/* Footer Styling */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
