@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&display=swap");
:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
  --font-size-nm: 14px;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-nm);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-weight-normal);
  min-height: 100dvh;
  background: var(--color-cream);
  color: var(--color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.main-box {
  max-width: 37.5rem;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: stretch;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background: var(--color-white);
  position: relative;
  overflow: hidden;
}

.image-box {
  width: 18rem;
  flex-grow: 1;
  overflow: hidden;
}

.image-box img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  align-items: flex-start;
  width: 19.5rem;
  padding: 2rem;
}

.product-category {
  color: var(--color-grey);
  letter-spacing: 0.35em;
  font-size: var(--font-size-nm);
}

.product-name {
  font-family: "Fraunces", serif;
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  line-height: 1;
  color: var(--color-black);
}

.product-desc {
  line-height: 1.4;
  letter-spacing: 0.5px;
  word-wrap: normal;
}

.product-price {
  position: relative;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.current-price {
  color: var(--color-green-500);
  font-family: "Fraunces", serif;
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
}

.old-price {
  text-decoration: line-through;
}

.cart-btn {
  display: inline-flex;
  gap: 8px;
  width: 100%;
  background: var(--color-green-500);
  color: white;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  border-radius: 0.5em;
  transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.cart-btn:hover {
  background: var(--color-green-700);
  cursor: pointer;
}

.cart-btn:active {
  transform: translateY(3px);
}

.cart-btn span {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  word-spacing: 1.25;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .main-box {
    margin: 1rem 1rem;
    max-width: none;
    flex-direction: column;
  }

  .image-box {
    width: 100%;
    position: static;
    height: 20rem;
    border-radius: 0.75rem 0.75rem 0 0;
  }

  .image-box img {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .content-box {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0 0 0.75rem 0.75rem;
    gap: 1rem;
  }
}
